.spaces{
    padding: 10px;
}

.text-footer{
    text-align: center;
}
.text-footer>a{
    text-decoration: none;
    color: #808080
}

.bg{
	background-image: url("../img/bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}